<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        {# Titre du site #}
        <title>{% block title %}Bienvenue sur l'annuaire des associations{% endblock %}</title>
        
        {# Métadescription #}
        {% block metadescription %}
            <meta name="description" content="Annuaire en ligne des associations d'Eure-et-Loir développé par le centre de ressources VIA28">
        {% endblock %}
        
        {# Styles CSS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
       
        {# Scripts #}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {# Inclusion du header #}

            {# Affichage des messages flash #}

            {# Affichage du body #}

            {# Inclusion du footer #}
        
        {% endblock %}
    </body>
</html>
